#themeBkg {
  position: absolute;
  top: 5rem;
  background: var(--cp-MainBKG);
}

#themesGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background: var(--base1);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: auto;
}
.thm {
  background: red;
  border: none;
  outline: 0.5rem solid white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
.thm:hover {
  transform: scale(0.9);
}
